.header{
  height: 55px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(204, 204, 204);
  z-index: 100;
}
.left-section{
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 25px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.youtube-logo{
  height: 25px;
  cursor: pointer;
}
.middle-section{
  flex: 1;
  margin-right: 35px;
  max-width: 470px;
  display: flex;
  align-items: center;
}

.search-bar{
  height: 36px;
  flex: 1;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
width: 0;
}
.search-bar::placeholder{
  font-family: arial;
  font-size: 16px;
  padding-left: 12px;
}

.search-btn{
  height: 40px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border: 1px solid #cccccc;
  margin-left: -1px;
  margin-right: 10px;
 
}

.search-btn, 
.voice-search-btn,
.uploawd-icon-container,
.youtube-apps-container,
.notifications-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.uploawd-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  font-size: 12px;
  padding: 4px 8px;
  background-color: gray;
  color: white;
  bottom: -25px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.uploawd-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
  cursor: pointer;
}
.search-voice-icon{
  height: 24px;
  cursor: pointer;
}

.right-section{
width: 180px; ;
display: flex;
margin-right: 20px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}
.uploawd-icon{
  height: 24px;
  cursor: pointer;
}
.youtube-apps-icon{
  height: 24px;
  cursor: pointer;
}
.notifications-icon{
  height: 24px;
  cursor: pointer;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count{
  position: absolute;
  top: -4px;;
  right: -4px;
  background-color: #ff0000e5;
  font-family: arial;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 10px;
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}